# Mac
.DS_Store

# Local configuration file (sdk path, etc)
local.properties

# Maven
log/
target/

# Gradle files
.gradle/
build/

# Intellij
.idea/
*.iml
*.iws

# Log Files
*.log

# Databases
/database

