<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.couchbase.travelsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".bookings.BookingsActivity">
        </activity>
        <activity android:name=".searchflight.SearchFlightActivity">
        </activity>
        <activity
            android:name=".login.Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".bookmarks.BookmarksActivity"
            android:label="@string/title_activity_bookmarks"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".hotels.HotelsActivity">
        </activity>
    </application>

</manifest>